
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="h2-responsive text-center">This is MySupermarket store. It is founded on Aug 2019</p>
    </div>
  </div>


  
  <div class="row">
    <div class="col-6">
        <button (click)="goToShop()" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Click here to start your Online Shop experience!</button>
    </div>
    <div class="col-6">
      <button *ngIf="userType===2" (click)="goToAdmin()" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>Go to Admin Cockpit</button>
  </div>
  </div>









  <div class="row">
    <div>
      <blockquote class="blockquote text-center">
        <p class="mb-0">Learn the rules like a pro so you can break them like an artist.</p>
        <footer class="blockquote-footer mb-3">Pablo Piacsso </footer>
      </blockquote>
    </div>
  
  </div>
</div>
  

