button{
    color:white !important;
    text-decoration-color:white !important;
}
app-userstatus{
    float: left;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: aliceblue; 
    margin-top: 8px;      

}