mdb-card{
    width: 30%;
    position: flex;
    margin-left: 10px;
    font: 2em;
    float: left;
    margin-bottom: 7px;
}
.btndanger{
    font:3pt;
    background: red;
    width: 40px;
    color: aliceblue;
}
h5{
    width: 120%;
}
